.popularGames{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.popularGames >div:nth-child(1){
    background: url('https://res.cloudinary.com/dk5mfu099/image/upload/v1730982877/62bd633ad0d615646b5ef6f7_Ellipse_14_3_gkplmk.png');
    background-size: cover;
    background-position: 60%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    z-index: -2;
    /* margin-top: -9px; */
    filter: blur(10px);
}
.popularGames >div:nth-child(2){
padding-bottom: 50px;

display: flex;
align-items: center;
padding-top: 10px;
justify-content: space-between;
}.popularGames >div:nth-child(2) >div:nth-child(2){
    display: flex;
    align-items: center;
    /* justify-content: baselin; */
    gap: 10px;
}
.popularGames >div:nth-child(2) >div:nth-child(1){
    font-family: var(--font-grotesk);
    font-size: 14px;
}
.popularGames >div:nth-child(2) >div:nth-child(2) >span{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.popularGames >div:nth-child(3){
    /* border: 1px solid forestgreen; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.popularGames >div:nth-child(3) >div{
}
.popularGames >div:nth-child(3) >div:nth-child(1){
    display: flex;
  
    gap: 10px;
    background-color: #382828;
    border-radius: 10px;
    padding: 36px 15px;
    /* height: 350px; */
    position: relative;
    overflow: hidden;
    /* border: 1px solid green; */
    
}.popularGames >div:nth-child(3) >div:nth-child(1) >div{

    display: flex;
    flex-direction: column;
    /* width: 100%; */

}.popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(1)>div:nth-child(1){
display: flex;
flex-direction: column;
gap: 10px;
}.popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(1)>div:nth-child(2){
    /* border: 1px solid red; */
    display: flex;
}
.popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(1)>div:nth-child(2)>input{
    border: none;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    font-size: 12px;
    padding: 23px 10px;
    width: 80%;
    text-transform: capitalize;
    font-weight: 800;
    font-family: var(--font-grotesk);
    background-color: #635253;
}
.popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(1){
    gap: 30px;
    font-family:  var(--font-grotesk);
}

.popularGames >div:nth-child(3) >div:nth-child(1) >div>div:nth-child(2){
    
}
.popularGames >div:nth-child(3) >div:nth-child(2){
    /* border: 1px solid yellow; */
   display: flex;
   flex-direction: column;
    gap: 20px;
    /* padding: 20px 0; */
}

.popularGames >div:nth-child(3) >div:nth-child(2) >div:nth-child(1){
    /* border: 1px solid red; */
    background-color: #382828;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;

    /* height: 50%; */
}.popularGames >div:nth-child(3) >div:nth-child(2) >div:nth-child(1) >div:nth-child(2)>div{
    /* border: 1px solid gray; */
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 18px;
    flex-direction: row;
}
.popularGames >div:nth-child(3) >div:nth-child(2) >div>div{
    
    display: flex;
    flex-direction: column;
    
    
}.image-cd{
    width: 50%;
}
.popularGames >div:nth-child(3) >div:nth-child(2) >div:nth-child(2){
    display: flex;
    /* border: 1px solid blue; */
    align-items: center;
    background-color: #382828;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 10px;
}.popularGames >div:nth-child(3) >div:nth-child(2) >div:nth-child(2)>div:nth-child(2)>div{
    /* border: 1px solid blue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 10px;
align-items: space-between;
    
}
button{
    font-family: var(--font-grotesk);
    text-transform: capitalize;
    /* font-weight: 900; */
    border: 2px solid white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    padding:15px;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-weight: 800;
    font-size: 15px;
}
.popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(1)>div:nth-child(2)>button{
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
}

.val{
    width: 50%;
}
@media (min-width:780px) {
    .popularGames >div:nth-child(3) >div:nth-child(2){
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
    }

    .popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(2){
        display: block;
        width: 350px;
        right: 0;
        position: absolute;
        top: 0;
    }.popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(1)>div:nth-child(2)>input{
        font-size: 14px;
        width: 80%;
    }
}
@media (min-width:1280px) {
    .popularGames >div:nth-child(3){
        flex-direction: row;
    }
    .popularGames >div:nth-child(3)>div:nth-child(1){
        /* background-color: yellow; */
        width: 90%;
    }
    .popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(2){
        bottom: -10px;
        right: -50px;
    
    }.popularGames >div:nth-child(3) >div:nth-child(1)>div:nth-child(1){
        width: 50%;
    }
    .popularGames >div:nth-child(3) >div:nth-child(2){
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }.val{
        width: auto;
    }
}
@media (max-width:500px) {
    .popularGames >div:nth-child(3) >div:nth-child(1) >div:nth-child(2){
        display: none;
    }
  
}
@media (min-width:1300px) {
    .popularGames{
        padding-inline: var(--paddingBig);
    }
    
}

@media (min-width:1600px) {
    .popularGames{
        padding-inline: 330px;
    }
  }